@import url("../../style.css");




.personal-desc h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;

}

.personal-desc p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.personal-desc span {
    color: var(--primary);
}

.contact-me-btn,
.download-cv-btn {

    margin-top: 30px;
    width: 8rem;
    border: 1px solid var(--primary);
    background-color: transparent;
    padding: 0.5rem;
    color: whitesmoke;
    font-family: 'Fira Code';
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;

}

.contact-me-btn:hover,
.download-cv-btn:hover {
    background-color: var(--primary-op);
    color: white;
    outline: none;
}

.download-cv-btn {
    margin-left: 10px;
}


.top_image_div {
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile_logo {
    position: absolute;
    width: 30vmin;
    top: 10%;
    z-index: 1;
    aspect-ratio: 1;
}

.profile_image {
    position: relative;
    z-index: 2;
    border-bottom: 1px solid var(--primary);
}



.current-work {
    padding: 8px;
    border: 1px solid var(--gray);
    color: gray;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1px;
    z-index: 5;
    gap: 8px;
    font-weight: 600;
}

.current-work a {
    color: whitesmoke;
}

.current-work a:hover {
    color: var(--primary);
}

.current-work::before {
    content: "";
    display: inline-block;
    aspect-ratio: 1;
    width: 16px;
    background-color: var(--primary-op);
    border: 1px solid var(--primary);
}

.qoute_text {
    padding: 32px;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 800;
}

.qoute {
    border: 1px solid var(--gray);
    position: relative;
    margin: 0;
}





.qoute::before,
.qoute::after {
    content: '"';
    position: absolute;
    color: white;
    font-size: 64px;
    font-weight: 700;
    background-image: linear-gradient(var(--background), var(--background));
    background-size: 100% 40%;
    background-repeat: no-repeat;
}



.qoute::before {
    top: -30px;
    left: 16px;
}

.qoute::after {
    bottom: -64px;
    right: 16px;
}

.quote_author {
    position: absolute;
    color: white;
    border: 1px solid var(--gray);
    padding: 15px;
    right: -1px;
    font-size: 16px;
}

.quote_author::before {
    content: "- ";
}

.dots {
    position: absolute;
    top: 40%;
    width: 12vmin;
    left: 70%;
    z-index: 4;
}

.about_description {
    margin-bottom: 40px;
}

.learn_more_about_btn {
    width: 8rem;
    border: 1px solid var(--primary);
    background-color: transparent;
    padding: 0.5rem;
    color: white;
    font-family: 'Fira Code';
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.learn_more_about_btn:hover {
    background-color: var(--primary-op);
    color: white;
}